.one {
    background-image: url(../assets/backgrounds/h_img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    text-align: center;
    padding-top: 220px;
    padding-bottom: 100px;
}
.one h1 {
    font-size: 90px;
}

    

